body {
    background-color: #101020;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E0E0F0;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

#terminal {
    width:740px;
    height: 450px;
    margin: auto;
}

#control-panel 
{
    margin: auto; 
    width: 80vw;
    text-align: center;
}

#url 
{
    width: 200px;
}

#connect
{
    width: 80px;
    background-color: #202030;
    color: #E0E0F0;
}